In [6]:
import pandas as pd

In [16]:
traffic = pd.read_csv("data/dc_traffic_volume_2023.csv")
traffic["FROMDATE"] = pd.to_datetime(traffic["FROMDATE"], unit="ms", errors="coerce")

In [17]:
traffic = traffic.sort_values('FROMDATE')
traffic.head()

,ROUTEID,FROMMEASURE,TOMEASURE,FROMDATE,TODATE,EVENTID,AADT,AADT_YEAR,GIS_ID,OBJECTID,SHAPE.LEN,GLOBALID,CREATOR,CREATED,EDITOR,EDITED,geometry_path
0,11000102,0.0,70.7,2023-01-01 05:00:00,NaN,{9E63BA08-6960-4C2F-95D6-A02564BB87AD},4527,2023,NaN,377601,0,{F902C897-8830-47C7-B269-0F0D43E4F157},JLAY,1729928180000,JLAY,1729928180000,"[[[-77.01251573263647, 38.889798370494084], [-..."
6248,12042442,2160.9,2223.4,2023-01-01 05:00:00,NaN,{0F2AB779-217F-4E8E-AC72-1AFC06D4260D},20858,2023,NaN,383849,0,{37CBBEDE-CFCD-48C0-BB17-DD196BE424C2},JLAY,1729928180000,JLAY,1729928180000,"[[[-76.98415492058791, 38.90021919874483], [-7..."
6247,12042442,2043.6,2160.9,2023-01-01 05:00:00,NaN,{B0A0C3AF-17C7-41E1-A312-80E521A2055A},20858,2023,NaN,383848,0,{97AB93F6-E2AB-4B3E-A2A3-56414CDF9279},JLAY,1729928180000,JLAY,1729928180000,"[[[-76.98550656238473, 38.900205150026686], [-..."
6246,12042442,1986.7,2043.6,2023-01-01 05:00:00,NaN,{BC13369D-DBA7-4772-9008-4665630563CF},20858,2023,NaN,383847,0,{B98F4FAB-20BD-4055-93F9-183436058A85},JLAY,1729928180000,JLAY,1729928180000,"[[[-76.98616251847794, 38.90020569798743], [-7..."
6245,12042442,1901.9,1986.7,2023-01-01 05:00:00,NaN,{F98A446F-5204-410C-8779-082AB62BC540},20858,2023,NaN,383846,0,{06856626-A2F7-43B3-98DF-EFFA151C0CFF},JLAY,1729928180000,JLAY,1729928180000,"[[[-76.98714011206869, 38.90020674654229], [-7..."

In [9]:
crashes = pd.read_csv("data/dc_crashes.csv")
date_cols = ["REPORTDATE", "FROMDATE", "TODATE", "LASTUPDATEDATE"]
for col in date_cols:
    if col in crashes.columns:
        crashes[col] = pd.to_datetime(crashes[col], unit="ms", errors="coerce")

In [15]:
crashes = crashes.sort_values('REPORTDATE')
crashes.head()

,CRIMEID,CCN,REPORTDATE,ROUTEID,MEASURE,OFFSET,STREETSEGID,ROADWAYSEGID,FROMDATE,TODATE,...,BLOCKKEY,SUBBLOCKKEY,CORRIDORID,NEARESTINTKEY,MAJORINJURIESOTHER,MINORINJURIESOTHER,UNKNOWNINJURIESOTHER,FATALOTHER,OBJECTID,geometry_path
174,40102758353,23000589,2023-01-01 05:00:00,13012092,1384.02,27.15,NaN,NaN,2023-01-08 02:45:00,NaT,...,e4c059ebd6079dab1f7da8828a718654,06c47720345c4648787e6c3f3aecf553,13012092_3,5764fc4fbd4e7ff6d89e62d6c6d9fb2c,0.0,0.0,0.0,0.0,329842257,-76.936002
87,39313090780,23000016,2023-01-01 05:04:00,15048471,2913.03,1.07,NaN,NaN,2023-01-01 07:11:00,NaT,...,1044a03c80725cfca58fb2e92db64d09,fbfdf2fa3f5371387e487367a68aa4a1,NaN,0,0.0,0.0,0.0,0.0,329842162,-76.989645
130,39836281319,23000032,2023-01-01 05:27:00,12001002,1604.26,24.81,NaN,NaN,2023-01-07 02:01:00,NaT,...,12e851a1d665ac3c0e570c9327970330,da7a1102a76085beb99d415bb6e57094,12001002_2,8df64fc67e4c1a9c0bf292ca4032d09c,0.0,0.0,0.0,0.0,329842210,-76.992427
42,39379713724,23000743,2023-01-01 05:50:00,Route not found,0.00,0.00,NaN,NaN,2023-01-03 12:07:00,NaT,...,Route not found,Route not found,Route not found,Route not found,0.0,0.0,0.0,0.0,329842067,-77.011889
88,39324949328,23000063,2023-01-01 06:55:00,12004402,1041.39,24.08,NaN,NaN,2023-01-01 07:50:00,NaT,...,5d125c38839f60c4af1ca63438211a9b,111f7de034b146224d43ceca02bb77c9,12004402_1,801c290acd7ddd624351eab07c6d43e9,0.0,0.0,0.0,0.0,329842164,-76.939193

In [19]:
crashmd = pd.read_csv("data/crashes_metadata.csv")
crashmd.head()

C:\Users\Nadav\AppData\Local\Temp\ipykernel_16992\314890715.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  crashmd = pd.read_csv("data/crashes_metadata.csv")

,CRIMEID,CCN,PERSONID,PERSONTYPE,AGE,FATAL,MAJORINJURY,MINORINJURY,VEHICLEID,INVEHICLETYPE,TICKETISSUED,LICENSEPLATESTATE,IMPAIRED,SPEEDING,OBJECTID,geometry_path
0,25184234,14178140,84571505,Driver,NaN,N,N,N,1005332.0,Passenger Car/automobile,N,FL,N,N,872926567,NaN
1,25184235,14178156,85045861,Driver,NaN,N,Y,N,1004500.0,Passenger Car/automobile,N,MD,N,N,872926568,NaN
2,25184235,14178156,84778511,Driver,59.0,N,N,N,1004499.0,Other Vehicle,N,WI,N,N,872926569,NaN
3,25184265,14178584,84929945,Passenger,NaN,N,N,N,1004625.0,Passenger Car/automobile,N,VA,N,N,872926570,NaN
4,25184265,14178584,84875059,Driver,NaN,N,N,N,1004625.0,Passenger Car/automobile,N,VA,N,N,872926571,NaN

In [20]:
crashes.columns

Index(['CRIMEID', 'CCN', 'REPORTDATE', 'ROUTEID', 'MEASURE', 'OFFSET',
       'STREETSEGID', 'ROADWAYSEGID', 'FROMDATE', 'TODATE', 'ADDRESS',
       'LATITUDE', 'LONGITUDE', 'XCOORD', 'YCOORD', 'WARD', 'EVENTID',
       'MAR_ADDRESS', 'MAR_SCORE', 'MAJORINJURIES_BICYCLIST',
       'MINORINJURIES_BICYCLIST', 'UNKNOWNINJURIES_BICYCLIST',
       'FATAL_BICYCLIST', 'MAJORINJURIES_DRIVER', 'MINORINJURIES_DRIVER',
       'UNKNOWNINJURIES_DRIVER', 'FATAL_DRIVER', 'MAJORINJURIES_PEDESTRIAN',
       'MINORINJURIES_PEDESTRIAN', 'UNKNOWNINJURIES_PEDESTRIAN',
       'FATAL_PEDESTRIAN', 'TOTAL_VEHICLES', 'TOTAL_BICYCLES',
       'TOTAL_PEDESTRIANS', 'PEDESTRIANSIMPAIRED', 'BICYCLISTSIMPAIRED',
       'DRIVERSIMPAIRED', 'TOTAL_TAXIS', 'TOTAL_GOVERNMENT',
       'SPEEDING_INVOLVED', 'NEARESTINTROUTEID', 'NEARESTINTSTREETNAME',
       'OFFINTERSECTION', 'INTAPPROACHDIRECTION', 'LOCATIONERROR',
       'LASTUPDATEDATE', 'MPDLATITUDE', 'MPDLONGITUDE', 'MPDGEOX', 'MPDGEOY',
       'FATALPASSENGER', 'MAJORINJURIESPASSENGER', 'MINORINJURIESPASSENGER',
       'UNKNOWNINJURIESPASSENGER', 'MAR_ID', 'BLOCKKEY', 'SUBBLOCKKEY',
       'CORRIDORID', 'NEARESTINTKEY', 'MAJORINJURIESOTHER',
       'MINORINJURIESOTHER', 'UNKNOWNINJURIESOTHER', 'FATALOTHER', 'OBJECTID',
       'geometry_path'],
      dtype='object')

In [21]:
crashmd.columns

Index(['CRIMEID', 'CCN', 'PERSONID', 'PERSONTYPE', 'AGE', 'FATAL',
       'MAJORINJURY', 'MINORINJURY', 'VEHICLEID', 'INVEHICLETYPE',
       'TICKETISSUED', 'LICENSEPLATESTATE', 'IMPAIRED', 'SPEEDING', 'OBJECTID',
       'geometry_path'],
      dtype='object')